@model IEnumerable<WebAppDgiiTestCore.Models.Contribuyentes>

@{
    ViewData["Title"] = "Lista de Contribuyentes";
}

@section Styles{
    <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" rel="stylesheet" />
     <!-- Sweet Alert -->
    <link href="~/lib/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <style>
    .container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 165px;
}
    </style>
   
}
<div class="text-center">
    <h2>Lista de Contribuyentes</h2>
    <div class="container">
        <br />
        <div style="width:100%;margin-bottom:2rem" class="table-responsive">
            <table id="contribuyentesDatatable" class="table table-hover table-bordered dt-responsive nowrap" style="text-align:center !important; width:100% !important" cellpadding="0" cellspacing="0" border="1">
                <thead>
                    <tr>
                        <th style="width: 200px !important">
                            @Html.DisplayNameFor(model => model.RncCedula)
                        </th>
                        <th width="150px">
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th width="150px">
                            @Html.DisplayNameFor(model => model.Tipo)
                        </th>
                        <th width="150px">
                            @Html.DisplayNameFor(model => model.Estatus)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                    <tr id="rowItem">
                        <td>
                            @Html.DisplayFor(modelItem => item.RncCedula)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estatus)
                        </td>
                    </tr>
}
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#contribuyentesDatatable').dataTable({
                language: {
                        "processing": "Procesando...",
                        "lengthMenu": "Mostrar _MENU_ registros",
                        "zeroRecords": "No se encontraron resultados",
                        "emptyTable": "Ningún dato disponible en esta tabla",
                        "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "search": "Buscar:",
                        "infoThousands": ",",
                        "loadingRecords": "Cargando...",
                        "paginate": {
                            "first": "Primero",
                            "last": "Último",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        },
                        "info": "De _START_ a _END_ de _TOTAL_ registros"
                    }
            });
        });

        $('#contribuyentesDatatable').on('click', 'tbody tr', function () {
            //debugger;
             var klkdata = 0;
            var myRow = $(this);
            var valRcnCedula = $(this).find(':nth-child(1)').text().trim();
            console.log($(this))
            $.ajax({
                type: 'Get',
                url: 'DgiiConsultas/GetComprobantesFiscalesElectronicoById',
                data: { rncCedula: valRcnCedula }
            }).done(function (data) {               
                 klkdata = 1;
                //console.log(data);
                
              return window.location.href ='DgiiConsultas/GetComprobantesFiscalesElectronicoById';
            }).fail(function() {
                 swal("Datos no encontrados", "No existen datos correspondientes a esta consulta!!!", "info");
              })
           
            
        });

    </script>
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>
     <!-- Sweet Alert --->
    <script src="~/lib/plugins/sweetalert/jquery.sweet-alert.custom.js"></script>
    <script src="~/lib/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/lib/plugins/sweetalert/sweetalert-dev.js"></script>
}
